* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1 {
    font-weight: bold;
}

header, 
section h2,
section h3,
form button,
button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}


header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.consoles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 16px;
    text-decoration: none;
}

.consoles article {
    margin-bottom: 16px;
}

.console h3 {
    color: #182c61;
}

a {
    text-decoration: none;
}

.console img {
    width: 200px;
    height: 200px;
    margin-bottom: 8px auto;
}

.price {
    margin-bottom: 8px;
}

button {
    background-color: #182c61;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px;
}

header .container, 
section .container,
section .container .contact-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 24px 0;
    color:#182c61
}

section h2 {
    margin-bottom: 16px;
    color: #182c61;
}

section h3 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.logos-list img {
    height: 24px;
}

.logos-list li {
    display: inline;
    margin: 8px
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods  {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.contact-sections {
    display: flex;
}

.contact-sections > div {
    margin-bottom: 0;
    width: 33.33%;
}

form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 16px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #182c61;
    color: #fff;
    border: none;
    cursor: pointer
}

form button:hover,
button:hover {
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 90%;
    }

    .consoles {
        display: block;
    }

    .consoles .console {
        margin-bottom: 32px;
    }

    header div.container {
        flex-direction: column;
    }

    header .container,
    section .container,
    section .container .contact-sections {
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .consoles {
        grid-template-columns: repeat(2, 49%);
    }

    header .container,
    section .container,
    section .container .contact-sections {
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }
    .consoles {
        grid-template-columns: repeat(2, 49%);
    }
}
